.description{
    position: relative;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
    margin-top: 30vw;
    margin-left: 10vw;
}
.description p{
    margin: 0px;
    position: relative;
}

/* Media queries pour mobile */
@media (max-width: 768px) {
    .description{
        font-size: 5vw;
        margin-top: 15vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (max-width: 480px) {
    .description{
        font-size: 6vw;
        margin-top: 10vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
}